@import "../../styles/colors/colors";

$background-color: color("grey", 8);
$border-color: lighten($primary-color, 30%);
$title-color: lighten($primary-color, 40%);

$hidden-color: color("blue", 2);

#FlightDirector {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $background-color;
  overflow-x: hidden;
  overflow-y: scroll;

  .row {
    width: 100vw;
    height: 60vh;
    position: relative;
    margin: 0;
    padding: 0;

    .card {
      height: 100%;
      width: 20%;
      float: left;
      margin: 0;
      padding: 0;
      font-size: 20px;

      .innerCard {
        position: relative;
        box-sizing: border-box;
        $size: 88%;
        width: $size;
        height: $size;
        margin: (100% - $size) / 2;
        border: 2px solid $border-color;
        border-radius: 5px;

        .title {
          width: 100%;
          text-align: center;
          padding: 10px 0;
          font-size: 24px;
          border-bottom: 2px solid $border-color;
          color: $title-color;
        }

        .content {
          padding: 20px;
        }
      }
    }

    .card.systems {
      .totalPower {
        text-align: center;
        margin-bottom: 15px;
      }

      .systemsList {
        .system {
          cursor: pointer;
          float: left;
          width: 100%;
          margin-bottom: 10px;
        }

        .system.hidden {
          .right {
            color: $hidden-color;
          }
        }

        .system.disabled {
          color: $warning-color;
        }

        .system.broken {
          color: $error-color;
        }
      }

      .add-system {
        margin: 0;
        position: absolute;
        width: calc(100% - 4px);
        bottom: 0;
        left: 0;
      }
    }
  }
}