@import "../../styles/colors/colors";

#FlightDirector {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $fd-background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;

  input[type="text"] {
    border: 2px solid $fd-border-color;
    padding: 5px;
  }
}
