@import "../../styles/colors/colors";

$background-color: color("grey", 8);
$border-color: lighten($primary-color, 30%);
$title-color: lighten($primary-color, 40%);

#FlightDirector {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $background-color;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;

  input[type="text"] {
    border: 2px solid $border-color;
    padding: 5px;
  }

  .card {
    box-sizing: border-box;
    flex-grow: 1;
    height: 70vh;
    width: 20%;
    margin: 0;
    padding: 20px;
    font-size: 20px;

    .inner-card {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: 2px solid $border-color;
      border-radius: 5px;
      overflow: hidden;

      .card-title {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 24px;
        border-bottom: 2px solid $border-color;
        color: $title-color;
      }

      .card-content {
        padding: 20px;
      }
    }
  }
}
