@import "../../styles/colors/colors";

$height: 27px;
$width: 2.5 * $height;

$duration: 150ms;

.switch-container {
  height: $height;
  width: $width;
  background: rgba(0, 0, 0, 0);
  border-radius: 7px;
  border: 1.5px solid grey;
  overflow: hidden;
  transition: background $duration;

  .switch-inner {
    background: lighten($primary-color, 30%);
    height: $height;
    width: $height;
    margin-left: 0;
    transition: margin $duration, background $duration;
    border-radius: 3px;
  }
}

.switch-container.switch-enabled {
  background: rgba($primary-color, 0.5);

  .switch-inner {
    background: $primary-color;
    margin-left: $width - $height;
  }
}