@import "colorList";

$primary-color: color("blue", 5);
$secondary-color: color("blue-grey", 8);

$success-color: color("green", 5);
$warning-color: color("amber", 8);
$error-color: color("red", 5);
$hidden-color: color("blue", 2);
