@import "fonts";
@import "grid";
@import "colors/colors";
@import "colors/colorClasses";
@import "../static/normalize";

body {
  background: black;
  color: white;
  font-family: "Jura", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}