#IndexPage {
  width: 90vw;
  margin: 5vh 5vw;

  #title {
    font-size: 50px;
    margin: 0 0 50px;
  }

  .btn-row {
    width: 90vw;
    margin: 20px 0;
  }

  #fullscreen-btn {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    width: 90vw;
  }
}